@font-face {
    font-family: "mainfont";
    src: local('nanum'), url(rubik.tif);
}

p,
h1,
h2,
h3 {
    font-family: "mainfont";
    transform: rotate(-0.0005deg);
}

body {
    font-family: 'mainfont'
}

.background {
    background-image: url(../img/KakaoTalk_20170520_102456476.jpg);
    background-position: cover;
    height: 500px;
}

.container {
    color: #fff;
}

.container-fluid {
    background-color: black;
}

.navbar-brand {
    color: #fff;
}

.navbar-header {
    margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .background {
        height: 400px;
    }
}

.navbar {
    margin-bottom: 0;
}

.col-md-4 {
    color: #333;
    font-size: 1em;
    text-align: center;
    padding: 20px;
}

.col-md-4 img {
    width: 200px;
}

.exrapadding {
    padding: 20px;
}

.st img {
    width: 100%;
}
.st p{color: #333;}

h3 {
    text-align: center;
    color: #333;
}

.con {
    background-color: azure;
    border-top: 1px solid #ccc;
}
.black_box {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    color: #fff;
}
.black_box:hover {
    opacity: 0.4;
}
.bb_text{position: relative;
top: 40%;
color: #fff;
opacity: 1;}